@import "tailwindcss";

@utility container {
    margin-inline: auto;
    padding-inline: 1.25rem;
    /* = 20px */

    @media (min-width: 1024px) {
        padding-inline: 5rem;
        /* = 80px */
    }
}

@layer components {
    .btn {
        @apply px-4 py-2 rounded-lg font-medium items-center justify-center tracking-tight
    }

    .btn-primary {
        @apply bg-black text-white;
    }

    .btn-text {
        @apply text-black bg-transparent;
    }

    .logo-ticker-image {
        @apply h-8 w-auto;
    }

    .tag {
        @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight;
    }
}