@import "tailwindcss";

@utility container {
    margin-inline: auto;
    padding-inline: 1.25rem;
    /* = 20px */

    @media (min-width: 1024px) {
        padding-inline: 5rem;
        /* = 80px */
    }
}

@layer components {
    .btn {
        @apply px-4 py-2 rounded-lg font-medium items-center justify-center tracking-tight
    }

    .btn2 {
        @apply py-2 rounded-lg font-medium items-center justify-center tracking-tight text-left
    }

    .btn-primary {
        @apply bg-black text-white;
    }

    .btn-text {
        @apply text-black bg-transparent;
    }

    .logo-ticker-image {
        @apply h-8 w-auto;
    }

    .tag {
        @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight;
    }

    .section-title {
        @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001F88] text-transparent bg-clip-text
    }

    .section-title2 {
        @apply text-center text-[23px] leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001F88] text-transparent bg-clip-text
    }

    .section-description {
        @apply text-center text-[22px] leading-[30px] text-[#010D3E]
    }

    .section-description2 {
        @apply text-center text-[16px] leading-[23px] text-[#010D3E]
    }

    .section-heading {
        @apply max-w-[540px] mx-auto;
    }

    .card{
        @apply p-10 border border-[#222222]/10  rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full
    }

    .align-text{
        @apply flex flex-col gap-2 
    }
}